<div class="tag-scroller">
  <div class="tag-scroller__track">
    <ul class="tag-scroller__tags container">
      <li class="tag-scroller__tag h3">Brand</li>
      <li class="tag-scroller__tag h3">UX Audit</li>
      <li class="tag-scroller__tag h3">Product design</li>
      <li class="tag-scroller__tag h3">Development</li>
      <li class="tag-scroller__tag h3">Motion design</li>
    </ul>
  </div>
</div>

<style>{% require_once 'tag-scroller/build/styles.css' | safe %}</style>
<script>
  {% require_once '_ui/screen-progress/build/index.js' | safe %}
  {% require_once 'tag-scroller/build/index.js' | safe %}
  new TagScroller(document.querySelector('.tag-scroller'))
</script>
