.openings__container {
  padding-top: 12rem;
  padding-bottom: 8rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 3rem;
    width: calc(100% - 6rem);
    border-bottom: .1rem solid #E9E9E9;
  }
}

.openings .headline {
  margin-bottom: 8rem;
}

.opening {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 0;

  transition: opacity .5s $easeOutExpo;

  .openings:hover & {
    opacity: .5;
  }

  &:hover { opacity: 1 !important; }
}

.opening__a {
  margin-left: auto;

  svg { margin-left: 1rem; }
}

.opening__p {
  margin-top: 1rem;
  width: 100%;

  span + span::before {
    content: '•';
    display: inline-block;
    margin: 0 2rem;
  }
}
