<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png" media="(prefers-color-scheme: dark)"> -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/bondroy_fav_icon dark 2.png" media="(prefers-color-scheme: dark)">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/bondroy_fav_icon@2x-light.png" media="(prefers-color-scheme: light)"> -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/bondroy_fav_icon 2.png" media="(prefers-color-scheme: light)">
    <link rel="manifest" href="/img/icons/site.webmanifest">
    <!-- <link rel="shortcut icon" href="/img/icons/favicon.ico"> -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <style>
      {% set page_css %}
        {% include '_assets/styles/build/reset.css' %}
        {% include '_assets/styles/build/fonts.css' %}
        {% include '_assets/styles/build/default.css' %}
        {% include '_assets/styles/build/global.css' %}
      {% endset %}
      {{ page_css | safe }}
    </style>

    <script>
      {% require_once '_ui/renderer/build/index.js' | safe %}
      window.renderer = new Renderer()
    </script>
  </head>
  <body>

    {% include 'header/index.html' %}

    <div class="scroller">
      <div class="scroller__main">
        {% block body %}{% endblock %}
        {% include 'footer/index.html' %}
      </div>
    </div>

    <div class="cursor"></div>

    {% include 'cookies/index.html' %}

    <style>
      {% require_once '_ui/cursor/build/styles.css' | safe %}
      {% require_once '_ui/scroller/build/styles.css' | safe %}
    </style>
    <script>
      {% require_once '_ui/cursor/build/index.js' | safe %}
      {% require_once '_ui/scroller/build/index.js' | safe %}
      new Scroller(document.querySelector('.scroller'))
      new Cursor(document.querySelector('.cursor'))
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QQTLH6EWDB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-QQTLH6EWDB');
    </script>
  </body>
</html>
