<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <style>
      {% set page_css %}
        {% include '_assets/styles/build/reset.css' %}
        {% include '_assets/styles/build/fonts.css' %}
        {% include '_assets/styles/build/default.css' %}
        {% include '_assets/styles/build/global.css' %}
      {% endset %}
      {{ page_css | safe }}
    </style>

    <script>
      {% require_once '_ui/renderer/build/index.js' | safe %}
      window.renderer = new Renderer()
    </script>
  </head>
  <body>

    {% include 'header/index.html' %}

    <div class="scroller">
      <div class="scroller__main">
        {% block body %}{% endblock %}
        {% include 'footer/index.html' %}
      </div>
    </div>

    <style>{% require_once '_ui/scroller/build/styles.css' | safe %}</style>
    <script>
      {% require_once '_ui/scroller/build/index.js' | safe %}
      new Scroller(document.querySelector('.scroller'))
    </script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
