<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png" media="(prefers-color-scheme: light)">
    <link rel="manifest" href="/img/icons/site.webmanifest" media="(prefers-color-scheme: light)">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5" media="(prefers-color-scheme: light)">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-dark.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32-dark.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16-dark.png" media="(prefers-color-scheme: dark)">
    <link rel="manifest" href="/img/icons/site.webmanifest-dark" media="(prefers-color-scheme: dark)">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <style>
      {% set page_css %}
        {% include '_assets/styles/build/reset.css' %}
        {% include '_assets/styles/build/fonts.css' %}
        {% include '_assets/styles/build/default.css' %}
        {% include '_assets/styles/build/global.css' %}
      {% endset %}
      {{ page_css | safe }}
    </style>

    <script>
      {% require_once '_ui/renderer/build/index.js' | safe %}
      window.renderer = new Renderer()
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKR4RBF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'header/index.html' %}

    <div class="scroller">
      <div class="scroller__main">
        {% block body %}{% endblock %}
        {% include 'footer/index.html' %}
      </div>
    </div>

    <div class="cursor"></div>

    {% include 'cookies/index.html' %}

    <style>
      {% require_once '_ui/cursor/build/styles.css' | safe %}
      {% require_once '_ui/scroller/build/styles.css' | safe %}
    </style>
    <script>
      {% require_once '_ui/cursor/build/index.js' | safe %}
      {% require_once '_ui/scroller/build/index.js' | safe %}
      new Scroller(document.querySelector('.scroller'))
      new Cursor(document.querySelector('.cursor'))
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NKR4RBF');</script>
    <!-- End Google Tag Manager -->
  </body>
</html>
