<div class="hero">
  <div class="hero__container container">
    <h1 class="hero__h">
      {# <div></div> #}
      <div><span>Design.</span></div>
      <div><span>Develop.</span></div>
      <div><span>Deliver.</span></div>
    </h1>

    <div class="hero__media">
      {# {% include '_svgs/play.svg' %} #}
    </div>

    <div class="hero__p">
      <p>Design oriented development studio created to help revolutionize industries.</p>
      {% include '_ui/scroll-cta/index.html' %}
    </div>

  </div>
</div>

<style>{% require_once 'hero/build/styles.css' | safe %}</style>
