.scroll-cta {
  position: absolute;
  right: 30px;
  bottom: -14px;
  height: 14px;
  width: 14px;
  transform: rotate(90deg);
  transform-origin: center;
}

.scroll-cta-flex {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
}

.scroll-cta-label {
  color: $c-black;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  flex-shrink: 0;
}

.scroll-cta-line {
  flex-shrink: 0;
  margin-left: 20px;
  width: 180px;
  height: 2px;
  background: $c-black;
}

// @media (max-width: 1040px) {
//   .scroll-cta {
//     right: 20px;
//   }
// }
