.subheadline {
  margin-bottom: 5rem;
}

.subheadline__top {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 2rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -.015rem;
    height: 100%;
    width: 0;
    border: .3rem solid #EDEFF0;
    border-radius: .3rem;
    background-color: #EDEFF0;
  }
}

.subheadline__meta {
  opacity: 0.5;
  font-size: 1.2rem;
  color: #013243;
  line-height: 2.1rem;
  text-transform: uppercase;
}

.subheadline__title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #013243;
  line-height: 1.2;
}

.subheadline__desc {
  font-size: 1.4rem;
  color: #013243;
  line-height: 3.0rem;
}

