.thx-msg__h {
  color: currentColor;
}

.thx-msg__grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15rem;
}

.thx-msg__col {
  width: 50%;
}

.thx-msg__button {
  margin-top: 12rem;
}

.thx-msg__img {
  max-width: 38rem;
  margin-left: auto;
}

@media (max-width: 1040px) {
  .thx-msg__col {
    width: 100%;
  }

  .thx-msg__img {
    display: none;
  }
}
