<div class="roadmap" data-cursor data-cursor-scale="1">
  <div class="roadmap__container container">

    {% set headline_text = 'Our usual roadmap' %}
    {% include '_ui/headline/index.html' %}

    <p class="roadmap__subtitle">Every project has it own rules but we try to implement our best practises.</p>
  </div>

  <div class="roadmap__bg" style="
    background:
      url({{ '/img/cta-bg.svg' | url }}) calc(50% - 2.3rem) 0 repeat-x,
      url({{ '/img/cta-bg.svg' | url }}) calc(50% + 3.47rem) 10rem repeat-x;
    background-size: 24rem 58.1rem, 24rem 58.1rem;
  ">
    <div class="container">
      <div class="roadmap__list">
        <div class="roadmap__item">
          <h5 class="roadmap__item-h">1. Discover</h5>
          <p class="roadmap__item-p">First step is to learn all about your idea, requirements, expectations, market and industry.</p>
        </div>
        <div class="roadmap__item">
          <h5 class="roadmap__item-h">2. Strategy</h5>
          <p class="roadmap__item-p">First step is to learn all about your idea, requirements, expectations, market and industry.</p>
        </div>
        <div class="roadmap__item">
          <h5 class="roadmap__item-h">3. Design</h5>
          <p class="roadmap__item-p">First step is to learn all about your idea, requirements, expectations, market and industry.</p>
        </div>
        <div class="roadmap__item">
          <h5 class="roadmap__item-h">4. Development</h5>
          <p class="roadmap__item-p">First step is to learn all about your idea, requirements, expectations, market and industry.</p>
        </div>
        <div class="roadmap__item">
          <h5 class="roadmap__item-h">5. Support & Consultancy</h5>
          <p class="roadmap__item-p">First step is to learn all about your idea, requirements, expectations, market and industry.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  {% require_once 'roadmap/build/styles.css' | safe %}
</style>
