.button {
  height: 50px;
  display: inline-flex;
  align-items: center;
  padding: 0 40px;
  background: #191919;
  color: white;
  border-radius: 3px;
  font-weight: bold;

  svg {
    margin-left: 15px;
    margin-right: -5px;
  }
}
