<footer class="footer">
  <div class="footer__container container">
    <div class="footer__row -first">
      <a href="/" class="footer__col -logo">
        {% include '_svgs/logo.svg' %}
      </a>
    </div>
    <div class="footer__row">
      <address class="footer__col -meta">
        Szlak 77/222, <br>
        31-153 Cracow, Poland
      </address>

      <div class="footer__col -big-email">
        <a href="mailto:hello@bondroy.com">hello@bondroy.com</a>
      </div>
    </div>
    <div class="footer__row -last">
      <div class="footer__col -meta">
        © {{ helpers.currentYear() }} Bondroy. All rights reserved.
      </div>
      <div class="footer__col footer__nav -privacy">
      </div>
      <div class="footer__col -meta">
      </div>
    </div>
  </div>
</footer>

<style>{% require_once 'footer/build/styles.css' | safe %}</style>
