<footer class="footer">
  <div class="footer__container container">
    <div class="footer__row -first">
      <a href="/" class="footer__col -logo">
        {% include '_svgs/logo.svg' %}
      </a>
      <nav class="footer__col footer__nav">
        <a href="">Dribbble</a>
        <a href="">Behance</a>
        <a href="">Clutch</a>
        <a href="">Instagram</a>
        <a href="">Facebook</a>
      </nav>
      <div class="footer__col">
        {% include 'clutch/index.html' %}
      </div>
    </div>
    <div class="footer__row">
      <address class="footer__col -meta">
        Szlak 77/222, <br>
        31-153 Cracow, Poland
      </address>
    </div>
    <div class="footer__row -last">
      <div class="footer__col">
        <a href="mailto:hello@bondroy.com">hello@bondroy.com</a>
      </div>
      <div class="footer__col footer__nav">
        <a href="">Privacy Policy</a>
      </div>
      <div class="footer__col -meta">
        © 2020 Bondroy. All rights reserved.
      </div>
    </div>
  </div>
</footer>

<style>{% require_once 'footer/build/styles.css' | safe %}</style>
