<footer class="footer">
  <div class="footer__container container">
    <div class="footer__row -first">
      <a href="/" class="footer__col -logo">
        {% include '_svgs/logo.svg' %}
      </a>
      <nav class="footer__col footer__nav">
        <a target="_blank" href="https://dribbble.com/bondroy/">Dribbble</a>
        <a target="_blank" href="https://www.behance.net/Bondroy">Behance</a>
        <a target="_blank" href="https://clutch.co/profile/bondroy">Clutch</a>
        <a target="_blank" href="https://www.instagram.com/bondroys/">Instagram</a>
        <a target="_blank" href="https://www.facebook.com/Bondroy-104465109000266">Facebook</a>
      </nav>

      <div class="footer__col footer__nav -privacy">
        <a href="">Privacy Policy</a>
      </div>

      <div class="footer__col">
        <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
        <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="14" data-height="50" data-nofollow="true" data-expandifr="true" data-scale="100" data-clutchcompany-id="1828890"></div>
      </div>
    </div>
    <div class="footer__row">
      <address class="footer__col -meta">

      </address>
    </div>
    <div class="footer__row -last">
      <div class="footer__col">
        <a href="mailto:hello@bondroy.com">hello@bondroy.com</a>
      </div>
      <div class="footer__col footer__nav -privacy">
        <a href="{{ '/privacy-policy' | url }}">Privacy Policy</a>
      </div>
      <div class="footer__col -meta">
        © {{ helpers.currentYear() }} Bondroy. All rights reserved.
      </div>
    </div>
  </div>
</footer>

<style>{% require_once 'footer/build/styles.css' | safe %}</style>
