.footer {
  padding-top: 12rem;
  padding-bottom: 10rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__row {
  display: flex;
  align-items: center;
  width: 100%;

  &.-first {
    margin-bottom: 2rem;

    .footer__col:first-child,
    .footer__col:last-child {
      width: 20rem;
    }
  }

  &.-last {
    margin-top: 8rem;

    .footer__col:first-child,
    .footer__col:last-child {
      width: 25rem;
    }
  }
}

.footer__col {
  font-size: 1.4rem;
  line-height: 2.2rem;

  &.-meta {
    color: #A1A1A1;
    font-style: normal;
  }

  &:last-child:not(:first-child) {
    text-align: right;
  }
}

.footer__nav {
  text-align: center;
  flex-grow: 1;

  a {
    position: relative;
    padding: 2rem;
  }

  a + a::before {
    content: '•';
    position: absolute;
    left: 0;
    transform: translateX(-50%);
  }
}
