.footer {
  padding-top: 12rem;
  padding-bottom: 10rem;
  background: white;
  // transform: translateZ(0);
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__row {
  display: flex;
  align-items: center;
  width: 100%;

  &.-first {
    margin-bottom: 2rem;

    .footer__col:first-child,
    .footer__col:last-child {
      width: 20rem;
    }
    .-privacy {  display: none; }
  }

  &.-last {
    margin-top: 8rem;

    .footer__col:first-child,
    .footer__col:last-child {
      width: 25rem;
    }
  }
}

.footer__col {
  font-size: 1.4rem;
  line-height: 2.2rem;

  &.-meta {
    color: #A1A1A1;
    font-style: normal;
  }

  &.-logo svg { width: 11.8rem; }

  &:last-child:not(:first-child) {
    text-align: right;
  }
}

.footer__nav {
  text-align: center;
  flex-grow: 1;

  a {
    position: relative;
    padding: 2rem;
  }

  a:not(:last-of-type)::after {
    content: '•';
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1040px) {
  .footer__row {
    flex-wrap: wrap;

    display: flex;
    justify-content: center;
    text-align: center;

    &.-first {
      .footer__col:first-child {
        display: none;
      }

      .footer__col:last-child {
        width: 100%;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
      }

      .-privacy {
        margin-top: 7rem;
        display: block;
      }
    }

    &.-last {
      margin-top: 1rem;

      .footer__col:first-child,
      .footer__col:last-child {
        width: auto;
      }
      .-privacy {  display: none; }
    }

    .-meta {
      text-align: center;
      margin-top: 5rem;
    }
  }

  .footer__nav {
    width: 100%;
    order: 2;
    margin-top: 3rem;
  }

  a:nth-child(3)::after {
    display: none;
  }
}
