.clutch {
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.clutch__rating {
  padding-left: 15px;
}

.clutch__stars {
  display: flex;

  svg + svg { margin-left: 5px; }
}

.clutch__p {
  margin-top: 5px;
}
