<section class="case-studies">
  <div class="case-studies__container container">
    {% set headline_text = 'Some of our projects' %}
    {% include '_ui/headline/index.html' %}

    {% for i in [0,1,2,3] %}
    <div class="case-study case-study--{{ i }}">
      <div class="case-study__tags"></div>
      <div class="case-study__img">
        <div class="case-study__img-wrap">
          <img src="{{ '/img/home-study-1.jpg' | url }}" alt="">
          <div class="case-study__img-bg" style="background-image: url({{ '/img/home-study-1.jpg' | url }});"></div>
          <div class="case-study__img-overlay"></div>
        </div>
      </div>
      <div class="case-study__content">
        <div class="case-study__logo">
          {% include '_svgs/logo-rolling-stone.svg' %}
        </div>
        <h4 class="case-study__h">
          Revolutionary b2b
          e&#8209;commerce platform
        </h4>

        <a href="" class="case-study__button button">
          <span>See case study</span>
          {% include '_svgs/arrow-short.svg' %}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<style>
  {% require_once '_ui/button/build/styles.css' | safe %}
  {% require_once 'case-studies/build/styles.css' | safe %}
</style>

<script>
  {% require_once '_ui/screen-progress/build/index.js' | safe %}
  {% require_once 'case-studies/build/index.js' | safe %}
</script>
