{% set studies = [
  {
    image1: '/img/iFATIH/iFATIH.jpg',
    image2: '/img/iFATIH/iFATIH@2x.jpg',
    image3: '/img/iFATIH/iFATIH@3x.jpg',
    logo: '_svgs/logo-fatih.svg',
    title: 'Revolutionary b2b
      e&#8209;commerce platform',
    link: '/studies/fatih'
  },
  {
    image1: '/img/Recruitify/Recruitify.jpg',
    image2: '/img/Recruitify/Recruitify@2x.jpg',
    image3: '/img/Recruitify/Recruitify@3x.jpg',
    logo: '_svgs/logo-recruitify.svg',
    title: 'All-in-One
      ATS Recruiting Software',
    link: '/studies/recruitify'
  },
  {
    image1: '/img/iDO/iDO.jpg',
    image2: '/img/iDO/iDO@2x.jpg',
    image3: '/img/iDO/iDO@3x.jpg',
    logo: '_svgs/logo-ido.svg',
    title: 'Service exchange
      mobile application',
    link: '/studies/ido'
  }
] %}

<section class="case-studies">
  <div class="case-studies__container container">
    {% set headline_text = 'Some of our projects' %}
    {% include '_ui/headline/index.html' %}

    {% for item in studies %}
    <div class="case-study">
      <div class="case-study__tags"></div>
      <div class="case-study__img">
        <div class="case-study__img-wrap">
          <img
            loading="lazy"
            decoding="async"
            src="{{ item.image1 | url }}"
            srcset="
              {{ item.image1 | url }} 1x,
              {{ item.image2 | url }} 2x,
              {{ item.image3 | url }} 3x,
            ">
          <div class="case-study__img-overlay"></div>
        </div>
      </div>
      <div class="case-study__content">
        <div class="case-study__logo">
          {% include item.logo %}
        </div>
        <h4 class="case-study__h">
          {{ item.title | nl2br | safe }}
        </h4>

        <a href="{{ item.link | url }}" class="case-study__button button">
          <span>See case study</span>
          {% include '_svgs/arrow-short.svg' %}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<style>
  {% require_once '_ui/button/build/styles.css' | safe %}
  {% require_once 'case-studies/build/styles.css' | safe %}
</style>

<script>
  {% require_once '_ui/screen-progress/build/index.js' | safe %}
  {% require_once 'case-studies/build/index.js' | safe %}
</script>
