.case-studies {
}

.case-studies__container {}

.case-studies__h {
  display: flex;
  align-items: center;
  margin-bottom: 120px;

  svg {
    margin-right: 30px;
  }
}

.case-study {
  display: flex;
  align-items: center;

  & + & { margin-top: 180px; }
}

.case-study__img {
  margin-right: 150px;
}

.case-study__content {
  max-width: 480px;
}

.case-study__h {
  margin-top: 35px;
}

.case-study__button {
  margin-top: 45px;
}
