<div data-cursor data-cursor-scale="1" class="cookies">
  <div class="cookies__container container">
    <div class="cookies__bg"></div>
    <svg width="16rem" height="16rem" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="01.1-Home---Cookies" transform="translate(-150.000000, -923.000000)">
              <g id="Privacy-Policy" transform="translate(0.000000, 902.000000)">
                  <g id="cookie" transform="translate(150.000000, 12.000000)" filter="url(#filter-1)">
                      <g transform="translate(0.000000, 9.000000)">
                          <circle id="Oval" fill="#000000" fill-rule="nonzero" cx="5" cy="10.5" r="1"></circle>
                          <circle id="Oval" fill="#000000" fill-rule="nonzero" cx="11.5" cy="10" r="1"></circle>
                          <circle id="Oval" fill="#000000" fill-rule="nonzero" cx="6.5" cy="5" r="1"></circle>
                          <circle id="Oval" fill="#000000" fill-rule="nonzero" cx="7" cy="7.5" r="1"></circle>
                          <circle id="Oval" fill="#000000" fill-rule="nonzero" cx="11.5" cy="2.5" r="1"></circle>
                          <circle id="Oval" fill="#000000" fill-rule="nonzero" cx="14.5" cy="1.5" r="1"></circle>
                          <circle id="Oval" fill="#000000" fill-rule="nonzero" cx="8" cy="11.5" r="1"></circle>
                          <path d="M8,15 C4.15,15 1,11.85 1,8 C1,4.15 4.15,1 8,1 C8.05,1 8.1,1 8.15,1 L8.85,1.05 L8.7,1.65 C8.65,1.85 8.6,2.1 8.6,2.3 C8.6,3.7 9.7,4.8 11.1,4.8 C11.6,4.8 12.1,4.65 12.55,4.35 L13.2,5.1 C13,5.3 12.9,5.55 12.9,5.8 C12.9,6.45 13.55,7 14.25,6.75 L14.85,6.5 L14.95,7.15 C15,7.45 15,7.75 15,8 C15,11.85 11.85,15 8,15 Z M7.65,2 C4.5,2.2 2,4.8 2,8 C2,11.3 4.7,14 8,14 C11.3,14 14,11.3 14,8 C14,7.95 14,7.85 14,7.8 C12.85,7.85 11.9,6.95 11.9,5.8 C11.9,5.75 11.9,5.75 11.9,5.7 C11.65,5.75 11.4,5.8 11.1,5.8 C9.15,5.8 7.6,4.25 7.6,2.3 C7.6,2.2 7.6,2.1 7.65,2 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
                          <rect id="_x3C_Transparent_Rectangle_x3E__589_" x="0" y="0" width="16" height="16"></rect>
                      </g>
                  </g>
              </g>
          </g>
      </g>
    </svg>
    <p class="cookies__text">If you continue to browse this website, you are allowing all third-party services.</p>
    <a href="{{ '/cookies-policy' | url }}" class="cookies__link">Cookies Policy</a>
    <a href="{{ '/privacy-policy' | url }}" class="cookies__link">Privacy Policy</a>
    <a href="" class="cookies__agree">Agree</a>
  </div>
</div>

<style>
  {% require_once 'cookies/build/styles.css' | safe %}
</style>

<script>
  {% require_once 'cookies/build/index.js' | safe %}
  new Cookies(document.querySelector('.cookies'))
</script>
