.cookies {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  line-height: 3.4rem;

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  &__container {
    z-index: 0;
    position: relative;
    padding: 1.2rem 3rem;
    display: flex;
    align-items: center;
    padding-right: 15rem;
  }

  &__bg {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 12rem;
    width: 100vw;
    height: 100%;
    background: black;
  }

  &__text {
    margin-right: auto;
    margin-left: 1rem;
  }

  &__link {
    margin-right: 2.4rem;
    text-decoration: underline;
  }

  &__agree {
    font-weight: 700;
  }

  @media (max-width: 1024px) {
    &__text { display: none; }
    &__bg { right: 0; }
    &__container { padding-right: 1.5rem; }
    svg { margin-right: auto; }
  }
}
