.recruitify-headline__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.recruitify-headline__no {
  opacity: 0.4;
  transform: rotate(-360deg);
  font-weight: 600;
  font-size: 86px;
  color: #D3D8D9;
  line-height: 20.8px;
  padding-right: 50px;
}

.recruitify-headline__headline {
  width: calc(100% - 200px);
}

.recruitify-headline__meta {
  font-weight: 600;
  font-size: 16px;
  color: #02E079;
  letter-spacing: 0;
  line-height: 26px;
  text-transform: uppercase;
}

.recruitify-headline__title {
  font-weight: 600;
  font-size: 36px;
  color: #013243;
  letter-spacing: 0;
  line-height: 1.5;
}

.recruitify-headline__desc {
  width: 100%;
  font-size: 14px;
  color: #013243;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 20px;
}
