<div
  data-cursor data-cursor-scale="1"
  class="cta"
  style="
    background-image: url({{ '/img/cta-bg.svg' | url }}), url({{ '/img/cta-bg.svg' | url }});
    background-position: calc(50% + 13rem) 0;
    background-size: 24rem 58.25rem;
  ">
  <div
    class="cta__container container"
    style="
      background: url({{ '/img/cta-bg-mask.svg' | url }}) center no-repeat;
      background-size: 85.5rem 22.5rem;
  ">
    <h3 class="cta__h">Let’s talk business</h3>
    <p class="cta__p">Let us know how we can help</p>
    <a href="" class="cta__button button -border">
      {% include '_svgs/arrow-short.svg' %}
    </a>
  </div>
</div>

<style>
  {% require_once '_ui/button/build/styles.css' %}
  {% require_once 'cta/build/styles.css' | safe %}
</style>
