<div data-cursor data-cursor-scale="1" class="cta">
  <div class="cta__container container">
    <div class="cta__container-bg"></div>
    <h3 class="cta__h">Let’s talk business</h3>
    <p class="cta__p">Let us know how we can help</p>
    <a
      class="cta__button button -border"
      onclick="
        scrollEnable();
        classToggle('.header', '-dark', '.header__cta');
        classRemove('.header__nav-item.-studies', '-active');
        classRemove('.flyout-case-studies', '-open');
        classToggle('.flyout-start-project', '-open');
      ">
      {% include '_svgs/arrow-short.svg' %}
    </a>
  </div>
</div>

<style>
  {% require_once '_ui/button/build/styles.css' %}
  {% require_once 'cta/build/styles.css' | safe %}
</style>
