.cta {
  display: flex;
  align-items: center;
  height: 580px;
  background: url(/img/cta-bg.svg) calc(50% + 130px) 50%;
}

.cta__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 850px;
  padding: 70px 100px 70px 100px;
  background: url(/img/cta-bg-mask.svg) center no-repeat;
}

.cta__h {
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 100px;
  width: 100%;
  margin-bottom: 10px;
}

.cta__p {
  flex-grow: 1;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  padding-left: 5px;
}

.cta__button {
  margin-right: 100px;
}
