.studies-desc {
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
}

.studies-desc__grid {
  display: flex;
  justify-content: space-around;
}

.studies-desc__name {
  text-transform: uppercase;
  color: #778699;
  margin-bottom: 1rem;
}

@media (max-width: 1040px) {
  .studies-desc__grid {
    flex-direction: column;
  }

  .studies-desc__col {
    & + & { margin-top: 3.5rem; }
  }

  .studies-desc__name {
    margin-bottom: 0rem;
  }
}

@media (max-width: 600px) {
}
