<div class="services">
  <div class="services__container container">
    <div class="service -branding">
      <div class="service__text">
        <div class="service__counter">1.</div>
        <div class="service__line"></div>
        <div class="service__list">
          <h3 class="service__title">Branding</h3>
          <ul>
            <li>Brand Strategy</li>
            <li>Visual Identity</li>
            <li>Rebranding</li>
          </ul>
        </div>
      </div>
      <div class="service__image -first">
        <img src="{{ '/img/Service_1-BG.jpg' | url }}" class="service__main-img" alt="" data-parallax="5">
        <img src="{{ '/img/Service_1-Bucket.png' | url }}" class="service__overlay -Bucket" alt="" data-parallax="-10">
        <img src="{{ '/img/Service_1-Swatches.png' | url }}" class="service__overlay -Swatches" alt="" data-parallax="10">
        <img src="{{ '/img/Service_1-Tools.png' | url }}" class="service__overlay -Tools" alt="" data-parallax="-20">
        <img src="{{ '/img/Service_1-Hand.png' | url }}" class="service__overlay -Hand" alt="" data-parallax="-10">
      </div>
    </div>

    <div class="service -apps">
      <div class="service__text">
        <div class="service__counter">2.</div>
        <div class="service__line"></div>
        <div class="service__list">
          <h3 class="service__title">Web & mobile apps</h3>
          <ul>
            <li>Scope definition</li>
            <li>Requirments gathering</li>
            <li>Creating personas</li>
            <li>Copywriting</li>
            <li>Clickable prototypes</li>
            <li>User testing</li>
            <li>Usability testing</li>
            <li>Product design</li>
            <li>Motion design</li>
            <li>Backend development</li>
            <li>Front-end development</li>
            <li>Quality assurance</li>
            <li>Product strategy</li>
          </ul>
        </div>
      </div>
      <div class="service__image -second">
        <img src="{{ '/img/Service_2-BG.jpg' | url }}" class="service__main-img" alt="" data-parallax="40">
        <img src="{{ '/img/Service_2-Controls.png' | url }}" class="service__overlay -Controls" alt="" data-parallax="55">
        <img src="{{ '/img/Service_2-Cube.png' | url }}" class="service__overlay -Cube" alt="" data-parallax="-10">
        <img src="{{ '/img/Service_2-Keyboard.png' | url }}" class="service__overlay -Keyboard" alt="" data-parallax="45">
        <img src="{{ '/img/Service_2-Phone.png' | url }}" class="service__overlay -Phone" alt="" data-parallax="30">
      </div>
    </div>

    <div class="service -audits">
      <div class="service__text">
        <div class="service__counter">3.</div>
        <div class="service__line"></div>
        <div class="service__list">
          <h3 class="service__title">Usability & Technology Audits</h3>
          <ul>
            <li>UX Audit</li>
            <li>Code quality review</li>
            <li>Technology audit</li>
            <li>Perfomance improvement audit</li>
          </ul>
        </div>
      </div>
      <div class="service__image -third">
        <img src="{{ '/img/Service_3-BG.jpg' | url }}" class="service__main-img" alt="" data-parallax="5">
        <img src="{{ '/img/Service_3-Sphere.png' | url }}" class="service__overlay -Sphere" alt="" data-parallax="-15">
        <img src="{{ '/img/Service_3-Curves.png' | url }}" class="service__overlay -Curves" alt="" data-parallax="-10">
        <img src="{{ '/img/Service_3-Loupe.png' | url }}" class="service__overlay -Loupe" alt="" data-parallax="-5">
        <img src="{{ '/img/Service_3-Image.png' | url }}" class="service__overlay -Image" alt="" data-parallax="20">
      </div>
    </div>
  </div>
</div>

<script>
  {% require_once '_ui/screen-progress/build/index.js' | safe %}
  {% require_once 'services/build/index.js' | safe %}
  new Services(document.querySelector('.services'))
</script>

<style>
  {% require_once 'services/build/styles.css' | safe %}
</style>
