.services {
  padding-top: 25rem;
  padding-bottom: 38rem;
}

.service {
  display: flex;

  & + & { margin-top: 32rem; }
}

.service__text {
  display: flex;
  width: 43rem;
}

.service__counter {
  flex-shrink: 0;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1;
  padding-top: 3rem;
  width: 2.1rem;
  color: #A1A1A1;
}

.service__line {
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  margin: 0 1rem;
  border-bottom: .2rem solid $c-black;
}

.service__list {

  ul {
    list-style: none;
    margin-top: 3rem;
  }

  li {
    padding: 1rem 0;
    white-space: nowrap;
  }
}

.service__image {
  position: relative;
  padding-left: 10rem;

  img {
    width: 100%;
    max-width: none;
  }

  &.-first {
    top: -10rem;
    left: 10rem;
  }

  &.-second {
    top: -12rem;
    left: 2rem;

    .service__main-img {
      width: 120%;
    }
  }

  &.-third {
    top: -12rem;
    left: 2rem;

    .service__main-img {
      width: 115%;
    }
  }
}

.service__overlay {
  position: absolute;
  top: 0;
  left: 0;

  &.-Bucket { left: 7rem; }
  &.-Swatches { left: 7rem; }
  &.-Tools { left: 5rem; }
  &.-Hand { left: 5rem; }
  &.-Cube { left: 10rem; }
  &.-Controls { left: 10rem; }
  &.-Keyboard { left: 11rem; }
  &.-Phone { left: 13rem; }
  &.-Curves { left: 10rem; }
  &.-Image { left: 10rem; }
  &.-Loupe { left: 10rem; }
  &.-Sphere { left: 20rem; top: -5rem; }
}
