<header class="header">
  <div class="header__bg"></div>

  {% include 'flyout-start-project/index.html' %}
  {% include 'flyout-case-studies/index.html' %}

  <div class="header__container container">
    <a href="{{ '/' | url }}" class="header__logo">
      {% include '_svgs/logo.svg' %}
    </a>
    <nav class="header__nav">
      <a
        class="header__nav-item -studies"
        onclick="
          scrollToggle(this);
          classToggle('.header__nav-item.-studies', '-active', this);
          classToggle('.header', '-dark', this);
          classRemove('.flyout-start-project', '-open');
          classToggle('.flyout-case-studies', '-open');
        ">
        Case studies
      </a>
      <a href="{{ '/services/' | url }}" class="header__nav-item -services">Services</a>
      <a href="{{ '/careers/' | url }}" class="header__nav-item -careers">Careers</a>
    </nav>
    <a
      class="header__cta"
      onclick="
        scrollToggle(this);
        classToggle('.header', '-dark', this);
        classRemove('.header__nav-item.-studies', '-active');
        classRemove('.flyout-case-studies', '-open');
        classToggle('.flyout-start-project', '-open');
      ">
      Start a project
    </a>
  </div>
</header>

<style>
  {% require_once 'header/build/styles.css' | safe %}

  .{{ menu_item }}::after {
    width: calc(100% - 6rem);
  }
</style>

<script>
  {% require_once '_ui/scroll-toggle/index.js' | safe %}
  {% require_once '_ui/class-toggle/index.js' | safe %}
  {% require_once 'header/index.js' | safe %}
  new Header(document.querySelector('.header'))
</script>
