<header class="header">

  {% include 'flyout-start-project/index.html' %}
  {% include 'flyout-case-studies/index.html' %}

  <div class="header__container container">
    <a href="/" class="header__logo">
      {% include '_svgs/logo.svg' %}
    </a>
    <nav class="header__nav">
      <a
        class="header__nav-item"
        onclick="
          classToggle('.header', '-dark', this);
          classRemove('.flyout-start-project', '-open');
          classToggle('.flyout-case-studies', '-open');
        ">
        Case studies
      </a>
      <a href="" class="header__nav-item">Services</a>
      <a href="" class="header__nav-item">Careers</a>
    </nav>
    <a
      class="header__cta"
      onclick="
        classToggle('.header', '-dark', this);
        classRemove('.flyout-case-studies', '-open');
        classToggle('.flyout-start-project', '-open');
      ">
      Start a project
    </a>
  </div>
</header>

<script>{% require_once '_ui/class-toggle/index.js' | safe %}</script>
<style>{% require_once 'header/build/styles.css' | safe %}</style>
