.header {
  z-index: 10;
  position: fixed;
  height: 10rem;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  transition: color $t_flyout $easeOutExpo;
  pointer-events: none;

  a { pointer-events: all; }
  .burger { display: none }
}

.header__bg {
  z-index: -1;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  transform-origin: left bottom;

  svg { width: 11.8rem; }
}

.header__nav {
  margin-left: auto;
  transform-origin: right bottom;
}

.header__nav-item {
  padding: 3rem;
  cursor: pointer;
}

.header__cta {
  position: relative;
  z-index: 0;
  margin-left: 5rem;
  // margin-right: -3rem;
  padding: 2rem;
  cursor: pointer;
  color: white;
  transition: color .5s ease;
  transform-origin: right bottom;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 2rem);
    background: black;
    transition: background .5s ease;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -2;
    top: 50%;
    left: 50%;
    width: 300vw;
    height: 300vw;
    border-radius: 50%;
    background: black;
    transform: scale(0) translate(-50%, -50%);
    transition: transform .5s ease;
  }
}


// Active
.header__nav-item {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    height: 2px;
    width: 0;
    background: currentColor;
    transition: width .3s $easeOutExpo;
  }
}

.header__nav:hover .header__nav-item {
  &::after { width: 0; }
  &:hover::after { width: calc(100% - 6rem); }
}

.header__nav-item.-active {
  &::after { width: calc(100% - 6rem); }
  ~ .header__nav-item::after { width: 0; }
}

.flyout-start-project.-open ~ .header__container .header__nav-item {
  &::after { width: 0; }
}

// Dark
.header.-dark {
  color: white;

  .header__cta {
    color: $c-black;
    &::before { background: white; }
  }

  .header__nav,
  .header__logo path:last-child {
    transition: all .2s ease;
    transform: none !important;
    opacity: 1 !important;
  }
}


@media (min-width: 1280px) {
  .header__container {
    max-width: calc(100% - 6rem);
  }
}

@media (max-width: 1040px) {
  .header__nav,
  .header__cta {
    display: none;
  }

  .header .burger {
    display: block;
    margin-left: auto;
  }

  .header__container {
    position: relative;
    z-index: 0;;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      transform: translateX(100%);
      transition: transform $t_flyout $easeOutExpo;

      .-dark & {
        transform: translateX(0);
      }
    }
  }
}
