.header {
  z-index: 10;
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  background: white;
  transition: color .5s ease;
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.header__nav-item {
  padding: 30px;
  cursor: pointer;
}

.header__cta {
  position: relative;
  z-index: 0;
  margin-left: 50px;
  padding: 20px;
  cursor: pointer;
  color: white;
  transition: color .5s ease;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 20px);
    background: $c-black;
    transition: background .5s ease;
  }
}


// Dark
.header.-dark {
  color: white;

  .header__cta {
    color: $c-black;
    &::before { background: white; }
  }
}
