<div class="case-studies-list">
  <a href="{{ '/studies/fatih' | url }}" class="case-studies-list__item">
    <div class="case-studies-list__item-main">
      <div class="case-studies-list__item-logo" style="transform: translateY(-2px)">
        {% include '_svgs/logo-fatih.svg' %}
      </div>
      <p class="case-studies-list__item-p">Revolutionary b2b e-commerce platform</p>
    </div>
  </a>
  <span class="case-studies-list__item -soon">
    <div class="case-studies-list__item-main">
      <div class="case-studies-list__item-logo">
        {% include '_svgs/logo-rolling-stone.svg' %}
      </div>
      <p class="case-studies-list__item-p">Music news coverage platform</p>
      <p class="case-studies-list__item-soon">Coming soon</p>
    </div>
  </span>
  <span class="case-studies-list__item -soon">
    <div class="case-studies-list__item-main">
      <div class="case-studies-list__item-logo" style="transform: translateY(2px)">
        {% include '_svgs/logo-jupiter.svg' %}
      </div>
      <p class="case-studies-list__item-p">One of the most popular Wordpress themes</p>
      <p class="case-studies-list__item-soon">Coming soon</p>
    </div>
  </span>
  {# <a href="" class="case-studies-list__item">
    <div class="case-studies-list__item-main">
      <div class="case-studies-list__item-logo">
        {% include '_svgs/logo-recruitify.svg' %}
      </div>
      <p class="case-studies-list__item-p">All-in-One ATS Recruiting Software</p>
    </div>
  </a>
  <a href="" class="case-studies-list__item">
    <div class="case-studies-list__item-main">
      <div class="case-studies-list__item-logo">
        {% include '_svgs/logo-qc.svg' %}
      </div>
      <p class="case-studies-list__item-p">Quality inspection platform</p>
    </div>
  </a> #}
</div>

<style>
  {% require_once 'case-studies-list/build/styles.css' | safe %}
</style>
