.studies-header {
  margin-top: 10rem;
  padding: 5rem 0 0 0;
}

.studies-header__container {
  display: flex;
}

.studies-header__body {
  max-width: 41rem;
  flex-shrink: 0;
}

.studies-header__subtitle {
  font-size: 1.2rem;
  color: #013243;
  line-height: 2.6rem;
  margin-top: 5rem;
}

.studies-header__title {
  font-size: 4.8rem;
  line-height: 5.8rem;
  font-weight: 600;
  color: #013243;
  margin-top: 1rem;
  max-width: 44rem;
}

.studies-header__separator {
  margin-top: 5rem;
  background: #02E079;
  border-radius: .5rem;
  width: 5rem;
  height: .5rem;
}

.studies-header__copy {
  font-size: 1.6rem;
  color: #013243;
  line-height: 2.6rem;
  max-width: 22rem;
  margin-top: 2.5rem;
}

.studies-header__meta {
  display: flex;
  margin-top: 13rem;
  padding-bottom: 35rem;
}

.studies-header__col {
  & + & { margin-left: 5.5rem; }
}

.studies-header__col-title {
  opacity: 0.5;
  font-size: 1.0rem;
  color: #013243;
  line-height: 2.8rem;
}

.studies-header__col-copy {
  font-size: 1.1rem;
  color: #013243;
  line-height: 2.8rem;
}

.studies-header__img {
  position: relative;


  img {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: none;
    width: 100vw;

  }
}

@media (max-width: 1040px) {
  .studies-header__title {
    font-size: 4.2rem;
    line-height: 5.2rem;
  }

  .studies-header__meta {
    flex-direction: column;
    margin-left: 0;
    margin-top: 5rem;
    padding-bottom: 10rem;
  }

  .studies-header__col {
    & + & { margin-left: 0; margin-top: 2rem; }
  }

  .studies-header__img {
    display: none;
  }
}
