<div class="studies-aside {{ studies_aside__side }}">
  <div class="studies-aside__container container">
    <div class="studies-aside__grid">
      <div class="studies-aside__col -text" style="max-width: {{ studies_aside__width }}rem;">
        <div class="studies-aside__main">
          {% if studies_aside__tag %}
            <span class="studies-aside__tag">{{ studies_aside__tag | nl2br | safe }}</span>
          {% endif %}
          <h5 class="studies-aside__h">{{ studies_aside__h | nl2br | safe }}</h5>
          <p class="studies-aside__p">{{ studies_aside__p | nl2br | safe }}</p>
        </div>
      </div>
      <div class="studies-aside__col -img">
        <img
          class="studies-aside__img"
          src="{{ ('/img/'~ studies_aside__img ~'@1x.jpg') | url | proton }}"
          loading="lazy"
          decode="async"
          srcset="
            {{ ('/img/'~ studies_aside__img ~'@1x.jpg') | url | proton }} 1x,
            {{ ('/img/'~ studies_aside__img ~'@2x.jpg') | url | proton }} 2x,
          ">
      </div>
    </div>
  </div>
</div>

<style>
  {% require_once 'studies-aside/build/styles.css' | safe %}
</style>
