---
pagination:
    data: openings
    size: 1
    alias: opening
permalink: "careers/{{ opening.title | slug }}/"
title: Careers
menu_item: '-careers'
---

{% extends 'page.html' %}

{% block body %}
  <div class="opening">

    <div class="strips-wrap">
      <div class="strips"></div>
      <div class="container">
        <h2 class="opening__h">{{ opening.title }}</h2>
      </div>
    </div>

    <div class="opening__container container">
      {{ opening.content | safe }}
      <div class="opening__footer">
        <div class="openinng__footer-container container">
          <a href="/careers/" class="opening__back">
            {% include '_svgs/arrow-more.svg' %}
            <strong>Go back</strong>
          </a>
          <a href="mailto:careers@bondroy.com" class="opening__button button">
            Apply now
          </a>
        </div>
      </div>
    </div>
  </div>

  <style>
    .header__bg { display: none !important; }
    {% require_once '_ui/strips/build/styles.css' | safe %}
    {% require_once '_ui/button/build/styles.css' | safe %}
    {% require_once 'opening/build/styles.css' | safe %}
  </style>

  <script>
    {% require_once 'opening/build/index.js' | safe %}
    new OpeningFooter(
      document.querySelector('.opening__footer'),
      document.querySelector('.opening__container')
    )
  </script>
{% endblock %}
