<div class="testimonials">
  <div class="testimonials__container container">
    <div class="testimonials__carousel">
      <div class="testimonials__item">
        <div class="testimonials__img">
          <div class="testimonial__img-wrap">
            <img src="{{ '/img/testimonial.jpg' | url }}" alt="">
            <img src="{{ '/img/testimonial.jpg' | url }}" alt="">
            <img src="{{ '/img/testimonial.jpg' | url }}" alt="">
          </div>
        </div>
        <div class="testimonials__content">
          <div class="testimonials__content-slides">
            <div class="testimonials__content-slide -active">
              <div class="testimonials__symbol">“</div>
              <p class="testimonials__quote">Bondroys did everything – with almost no time or effort for me! The best part was that I could completely trust their team to represent our company professionally with our clients.</p>
              <div class="testimonials__author">Alexander Ljung</div>
              <div class="testimonials__role">CEO of Hallyp 1</div>
            </div>
            <div class="testimonials__content-slide">
              <div class="testimonials__symbol">“</div>
              <p class="testimonials__quote">Bondroys did everything – with almost no time or effort for me! The best part was that I could completely trust their team to represent our company professionally with our clients.</p>
              <div class="testimonials__author">Alexander Ljung</div>
              <div class="testimonials__role">CEO of Hallyp 2</div>
            </div>
            <div class="testimonials__content-slide">
              <div class="testimonials__symbol">“</div>
              <p class="testimonials__quote">Bondroys did everything – with almost no time or effort for me! The best part was that I could completely trust their team to represent our company professionally with our clients.</p>
              <div class="testimonials__author">Alexander Ljung</div>
              <div class="testimonials__role">CEO of Hallyp 3</div>
            </div>
          </div>

          <div class="testimonials__nav">
            <a href="" class="testimonials__button button">
              See all testimonials
            </a>
            <a class="testimonials__prev">{% include '_svgs/arrow-left.svg' %}</a>
            <a class="testimonials__next">{% include '_svgs/arrow-right.svg' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  {% require_once '_ui/button/build/styles.css' | safe %}
  {% require_once 'testimonials/build/styles.css' | safe %}
</style>

<script>
  {% require_once 'testimonials/build/index.js' | safe %}
  new Testimonials(document.querySelector('.testimonials'))
</script>
