.testimonials {
  padding: 13rem 0;
  margin-top: 20rem;
  margin-bottom: 10rem;
  background: white;

  .-transition {
    transition: transform .7s ease, opacity .7s ease;
  }
}

.testimonials__container {
}

.testimonials__carousel {

}

.testimonials__item {
  display: flex;
  align-items: flex-end;
}

.testimonials__img {
}

.testimonial__img-wrap {
  position: relative;
  width: 29rem;
  height: 0;
  padding-bottom: (440 / 290) * 100%;
  // background: rgb(250,250,250);
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.testimonials__content {
  padding-left: 10rem;
  width: 100%;
}

.testimonials__content-slides {
  position: relative;
  width: 100%;
}

.testimonials__content-slide {
  position: absolute;
  bottom: 0;
  left: 0;
}

.testimonials__symbol {
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: -0.5rem;
  line-height: 1;
}

.testimonials__quote {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.5rem;
  margin-top: 2rem;
}

.testimonials__author {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 2.7rem;
  margin-top: 5rem;
}

.testimonials__role {
  font-size: 1.4rem;
  color: #A1A1A1;
  line-height: 2.2rem;
}

.testimonials__nav {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  height: 5.5rem;
}

.testimonials__button {
  margin-right: auto;
}

.testimonials__prev {
  padding: 2rem;
  transform: translateX(-1.8rem);
  cursor: pointer;
}

.testimonials__next {
  padding: 2rem;
  cursor: pointer;
}


@media (max-width: 1040px) {
  .testimonials {
    margin-top: 0;
  }

  .testimonials__item {
    flex-wrap: wrap;
  }

  .testimonials__content {
    padding-left: 0;
  }

  .testimonials__nav {
    flex-wrap: wrap;
  }

  .testimonials__button {
    width: 100%;
    order: 2;
    margin-top: 3rem;
  }

  .testimonials__next {
    margin-right: auto;
    transform: translateX(1.8rem);
  }

  .testimonials__prev {
    margin-left: auto;
    transform: translateX(-1.8rem);
  }

  .testimonials__img {
    display: none;
  }

  .testimonials__content-slide {
    // padding-left: 3.2rem;
    // padding-right: 3.2rem;
    opacity: 0;

    &.-active {
      opacity: 1;
      position: relative;
    }
  }
}
