<section class="flyout-case-studies flyout" data-cursor data-cursor-scale="1">
  <div class="flyout-case-studies__bg">
    <div class="flyout-case-studies__bg-container container">
      <svg class="flyout-case-studies__bg-logo" width="342" height="468" viewBox="0 0 342 468" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g fill="none" fill-rule="evenodd">
          <path d="M0 240.592l133.297 227.395L0 467.987567V240.592zM81.579 0l245.857813 419.410905c-3.069743 3.614783-6.373794 7.104485-9.912153 10.469103-21.082837 20.047627-45.994799 32.185261-74.735886 36.412903L0 52.115V0h81.579zm123.989155 0c38.166991 0 70.290874 12.3682429 96.371651 37.1047286 26.080777 24.7364857 39.121165 56.2699336 39.121165 94.6003444 0 30.645216-8.740901 56.557931-26.222702 77.738143L192.063 0z" fill="#2A2C30"/>
        </g>
      </svg>

      <div class="flyout-case-studies__items">
        <a href="" class="flyout-case-studies__item">
          <div class="flyout-case-studies__item-count">1.</div>
          <div class="flyout-case-studies__item-main">
            <div class="flyout-case-studies__item-logo">
              {% include '_svgs/logo-fatih.svg' %}
            </div>
            <p class="flyout-case-studies__item-p">Revolutionary b2b e-commerce platform</p>
          </div>
        </a>
        <a href="" class="flyout-case-studies__item">
          <div class="flyout-case-studies__item-count">2.</div>
          <div class="flyout-case-studies__item-main">
            <div class="flyout-case-studies__item-logo">
              {% include '_svgs/logo-rolling-stone.svg' %}
            </div>
            <p class="flyout-case-studies__item-p">Music news coverage platform</p>
          </div>
        </a>
        <a href="" class="flyout-case-studies__item">
          <div class="flyout-case-studies__item-count">3.</div>
          <div class="flyout-case-studies__item-main">
            <div class="flyout-case-studies__item-logo">
              {% include '_svgs/logo-jupiter.svg' %}
            </div>
            <p class="flyout-case-studies__item-p">One of the most popular Wordpress themes</p>
          </div>
        </a>
        {# <a href="" class="flyout-case-studies__item">
          <div class="flyout-case-studies__item-count">4.</div>
          <div class="flyout-case-studies__item-main">
            <div class="flyout-case-studies__item-logo">
              {% include '_svgs/logo-recruitify.svg' %}
            </div>
            <p class="flyout-case-studies__item-p">All-in-One ATS Recruiting Software</p>
          </div>
        </a>
        <a href="" class="flyout-case-studies__item">
          <div class="flyout-case-studies__item-count">5.</div>
          <div class="flyout-case-studies__item-main">
            <div class="flyout-case-studies__item-logo">
              {% include '_svgs/logo-qc.svg' %}
            </div>
            <p class="flyout-case-studies__item-p">Quality inspection platform</p>
          </div>
        </a> #}
      </div>
    </div>
  </div>
</section>

<style>
  {% require_once '_ui/flyout/build/styles.css' | safe %}
  {% require_once 'flyout-case-studies/build/styles.css' | safe %}
</style>

