.flyout-case-studies {
  overflow: hidden;
  height: 90vh;
  min-height: 85rem;
  // max-height: 90rem;
}

.flyout-case-studies__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  max-height: 100%;
  transform: skewX(30deg);
  transform-origin: right top;
  background: black;
  overflow: hidden;
}

.flyout-case-studies__bg-container {
  display: flex;
  align-items: center;
  padding-top: 14rem;
  transform-origin: right top;
  transform: skewX(-30deg) translateX(-1rem) translateY(-3vh);
  opacity: 0;
  transition:
    transform $t_flyout / 3 $easeOutExpo,
    opacity $t_flyout / 3 $easeOutExpo;

  .-open & {
    transition:
      transform $t_flyout * 2 $easeOutExpo $t_flyout / 2.5,
      opacity $t_flyout * 2 $easeOutExpo $t_flyout / 2.5;
    transform: skewX(-30deg) translateX(-1rem);
    opacity: 1;
  }
}

.flyout-case-studies__bg-logo {
  opacity: .5;
  // transform: translateY(8rem);
}

.flyout-case-studies__items {
  width: 50%;
  margin-left: auto;
  transform: translateX(-1.3rem);
}

.flyout-case-studies__item {
  display: flex;
  padding: 3rem 0;
}

.flyout-case-studies__item-count {
  width: 3rem;
  margin-right: 3rem;
  font-size: 2.4rem;
  color: #A1A1A1;
  line-height: 2.6rem;
}

.flyout-case-studies__item-main {
  font-size: 1.7rem;
  color: #FFFFFF;
  line-height: 2.4rem;
}

.flyout-case-studies__item-logo {
  svg { height: 2.4rem }
}

.flyout-case-studies__item-p {
  margin-top: 1.5rem;
}
